#logo {
    width: 180px;
    height: 47px;
}

header {
    margin-bottom: 150px;
}
.navbar {
    position: fixed;
    top: 0;
    background-color: aquamarine;
}

.navbar-nav {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    font-style: normal;
}

#carta {
    height: 500px;
    width: 330px;
    margin: 20px 0px;
}


.leader-card-stats {
    position: absolute;
    width: 100%;
    height: 40px;
    background: linear-gradient(to bottom, blue, pink);
}

.leader-power {
    width: 100%;
    height: 100%;
}

.leader-power h3 {
    display: inline;
    font-size: 25px;
    position: absolute;
    right: 50px;
    top: 5px;
    color: white;
}

.character-card-stats {
    position: absolute;
    width: 100%;
    height: 40px;
    background: linear-gradient(to bottom, blue, pink);
}

.character-power {
    width: 100%;
    height: 100%;
}

.character-power h3 {
    display: inline;
    font-size: 25px;
    position: absolute;
    right: 50px;
    top: 5px;
    color: white;
}

#slash {
    position: absolute;
    height: 35px;
    display: inline;
    top: 4px;
    right: 3px;
}

#ranged {
    position: absolute;
    height: 42px;
    display: inline;
    top: 0px;
    right: 3px;
}

#strike {
    position: absolute;
    height: 42px;
    display: inline;
    top: 0px;
    right: 0px;
}

#special{
    position: absolute;
    height: 42px;
    display: inline-block;
    top: 0px;
    right: 3px;
}

#wisdom {
    position: absolute;
    height: 42px;
    display: inline-block;
    top: 0px;
    right: 3px;
}

.leader-img {
    width: 100%;
    height: 100%;
}

.leader-img img {
    width: 100%;
    height: 100%;
    border: 0px;
    margin-top: 40px;
}

.character-img {
    width: 100%;
    height: 100%;
}

.character-img img {
    width: 100%;
    height: 100%;
    border: 0px;
    margin-top: 40px;
}

.stage-img {
    width: 100%;
    height: 100%;
}

.stage-img img {
    width: 100%;
    height: 100%;
    border: 0px;
    margin-top: 40px;
}

.event-img {
    width: 100%;
    height: 100%;
}

.event-img img {
    width: 100%;
    height: 100%;
    border: 0px;
    margin-top: 40px;
}