body {
    background-image: url(img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#logo {
    width: 180px;
    height: 47px;
}

header {
    margin-bottom: 150px;
}

.navbar {
    position: fixed;
    top: 0;
    background-color: white;
}

#navbarNav {
    justify-content: right;
}


.navbar li {
    margin: 0 5px;
}

.navbar-nav {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    font-style: normal;
}

#addCardButton {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/* MAIN CARDS STYLE */
.cards {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.card {
    height: 500px;
    width: 330px;
    margin: 30px 20px;
    margin-bottom: 60px;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}


.card-stats {
    position: absolute;
    width: 100%;
    height: 40px;
    background: linear-gradient(to bottom, blue, pink);
}

.card-power {
    width: 100%;
    height: 100%;
}

.card-power h3 {
    display: inline;
    font-size: 25px;
    position: absolute;
    right: 42px;
    top: 5px;
    color: white;
}

.card-power h2 {
    display: inline;
    font-size: 22px;
    position: absolute;
    top: 5px;
    margin-left: 10px;
    color: white;
}

.card-text {
    position: absolute;
    width: 90%;
    align-self: center;
    height: 50px;
    top: 475px;
    justify-content: center;
}

.card-type {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(40px);
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.card-type h4 {
    font-size: 18px;
    text-align: center;
    color: white;
    margin-top: 5px;
}

.card-crew {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(40px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-crew h4 {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: white;
    margin-top: 5px;
}

#Slash {
    position: absolute;
    height: 35px;
    display: inline;
    top: 4px;
    right: 0px;
}

#Ranged {
    position: absolute;
    height: 42px;
    display: inline;
    top: -1px;
    right: -1px;
}

#Strike {
    position: absolute;
    height: 42px;
    display: inline;
    top: -1px;
    right: -5px;
}

#Special {
    position: absolute;
    height: 42px;
    width: 41px;
    display: inline-block;
    top: -1px;
    right: -1px;
}

#Wisdom {
    position: absolute;
    height: 42px;
    display: inline-block;
    top: -1px;
    right: -3px;
}

.card-img {
    width: 100%;
    height: 100%;
}

.card-img img {
    width: 100%;
    height: 100%;
    border: 0px;
    margin-top: 40px;
}


/* SINGLE CARDS INSIDE MODAL */

#modalCard {
    margin: 0;
    height: 0;
    width: 0;
    margin-top: 20%;
}

#modalCard .card {
    height: 600px;
    width: 430px;
}

#modalCard .card:hover {
    transform: none;
}

#modalCard .card-stats {
    position: absolute;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, blue, pink);
}

#modalCard .card-power {
    width: 100%;
    height: 100%;
}

#modalCard .card-power h3 {
    display: inline;
    font-size: 28px;
    position: absolute;
    right: 53px;
    top: 8px;
    color: white;
}

#modalCard .card-power h2 {
    display: inline;
    font-size: 28px;
    position: absolute;
    top: 6px;
    margin-left: 10px;
    color: white;
}

#modalCard .card-text {
    position: absolute;
    width: 90%;
    align-self: center;
    height: 50px;
    top: 555px;
    justify-content: center;
}

#modalCard .card-type {
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(40px);
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

#modalCard .card-type h4 {
    font-size: 20px;
    text-align: center;
    color: white;
    margin-top: 7px;
}

#modalCard .card-crew {
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(40px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#modalCard .card-crew h4 {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: white;
    margin-top: 5px;
}

#modalCard #Slash {
    position: absolute;
    height: 42px;
    width: 51px;
    display: inline;
    top: 6px;
    right: 0px;
}

#modalCard #Ranged {
    position: absolute;
    height: 50px;
    width: 50px;
    display: inline;
    top: 0px;
    right: 2px;
}

#modalCard #Strike {
    position: absolute;
    height: 47px;
    width: 59px;
    display: inline;
    top: 2px;
    right: -3px;
}

#modalCard #Special {
    position: absolute;
    height: 50px;
    width: 48px;
    display: inline-block;
    top: 0px;
    right: 2px;
}

#modalCard #Wisdom {
    position: absolute;
    height: 50px;
    width: 55px;
    display: inline-block;
    top: 0px;
    right: -1px;
}

#editButton {
    position: absolute;
    left: 435px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

#deleteButton {
    position: absolute;
    top: 50px;
    left: 435px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: red;
    border-color: red;
}


/* MODAL FORM */

.form-container {
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: red;
    margin: 0 auto;
    border-radius: 20px;
}
.form-container h1 {
    margin-top: 10px;
    font-family: monaco,Consolas,Lucida Console,monospace; 
}

option {
    text-transform: capitalize;
}

.btn-primary.modify-button {
    display: flex;
    width: 100px;
    height: 28px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#modifyForm label {
    margin-left: 3px;
}